<ul>
	<li>Sponsor</li>
	<li>Ringraziamenti</li>
	<li>Tecnologie utilizzate</li>
	<li>Sitemap</li>
</ul>

<div id="credits">
	<span id="devs">Developed with <i class="fa fa-heart"></i> by:</span>
	<span><a href="//blog.vincentdefeo.me">Vincent</a> (frontend/js) / <a href="//marcoferraioli.com">Marco</a> (backend/php)</span>
	<span><a href="//github.com/ghzmdr/ghzmdr.github.io/">Here</a>'s the code behind this page </span>
	<span id="copyright">Do what you want 'cause a pirate is free.</span>
</div>