<section class="content" id="main">
<div class="block">
    <h3 class="block-title">Che cos'è</h3>
        <div class="block-content">

            <blockquote>
                [ga-me-jàm]
                Dall'inglese game 'gioco' e jam 'marmellata', ma anche 'misto, unione'
                Evento in cui una o più persone creano un (video)gioco in un ristretto lasso di tempo.
            </blockquote>
            
             <p>
                Una game jam organizzata da alcuni studenti di informatica, rivolta a chi vuole mettersi alla prova nello sviluppo 
                di videogames con le tecnologie che preferisce, in un ambiente divertente e competitivo. 
                Avrà luogo all’Università degli studi di Salerno, presso il bar delle residenze, e si estenderà per 48 ore ininterrotte.
            </p>
        </div>
</div>

<div class="block">
    <h3 class="block-title">Perchè Tutto ciò?</h3>
        <div class="block-content">           
            
             <p>
               Le game jam sono un'occasione unica di crescita, per mettersi alla prova, ed esprimere la propria creatività. Portarla all’UNISA è un modo per permettere ad eventuali developer o aspiranti tali presenti di trovare altri studenti con la stessa passione, oltre a fornire un’altro modo di vivere l’università, fuori da corsi, esami e scadenze accademiche.
            </p>
        </div>
</div>

<div class="block">
    <h3 class="block-title">Come funziona</h3>
        <div class="block-content">                      
             <ul>
                <li>Ti iscrivi</li>
                <li>Ti presenti il Giorno X</li>
                <li>Confermi l'iscrizione, fai un giro, conosci persone e (se vuoi) formi un team</li>
                <li>Lavori come un pazzo per 48h</li>
                <li>Al termine segui la premiazione</li>
                <li>Ti trattieni per il LAN Party</li>
                <li>Torni alla vita di sempre!</li>
            </ul>
        </div>
</div>

<div class="block">
    <h3 class="block-title">Come funziona</h3>
        <div class="block-content">                      
            <ul>
                <h5>Giorno 1:</h5>            
                <li>08:00 - 09:00 - Registrazione e showcase dei propi lavori</li>
                <li>09:00 - 09:30 - Creazione team ed assegnazione tema</li>
                <li>09:30 - 24:00 - Inizio jam</li>
            
                <h5>Giorno 2:</h5>                                         
                <li>00:00 - 24:00 - Svoglimento jam</li>                  
                <h5>Giorno 3:</h5>
                <li>00:00 - 09:30 - Termine jam</li>
                <li>09:30 - 10:30 - Visione dei lavori, prove e premiazione</li>
            
            </ul>
        </div>
</div>

<div class="block">
    <h3 class="block-title">Con la collaborazione di</h3>
        <div class="block-content">                      
            <img src="img/scientificamente.jpg" alt="Scientificamente">
        </div>
</div>
</section>